smb-ears {
  width: 50px;
  height: 100px;
  position: absolute;
  background: pink;
  border-radius: 50%;
  //animation: breathe 2s alternate infinite;
  transition: background 3s;

  &:hover {
    background: darkred;
  }
}

smb-ears[position="left"] {
  top: 360px;
  left: 140px;
}

smb-ears[position="right"] {
  top: 360px;
  right: 147px;
}

smb-shadow-ears {
  width: 50px;
  height: 100px;
  position: absolute;
  background: pink;
  border-radius: 50%;
}

smb-shadow-ears[position="left"] {
  top: 375px;
  left: 108px;
}

smb-shadow-ears[position="right"] {
  top: 375px;
  right: 159px;
}

@keyframes breathe {
  0% {
    transform: scale(1.2);
  }
}