smb-mouth {
  width: 250px;
  height: 120px;
  position: absolute;
  background: green;
  border-radius: 50%;
  top: 450px;
  left: 196px;
}

smb-shadow-mouth {
  width: 276px;
  height: 120px;
  position: absolute;
  background: green;
  border-radius: 50%;
  top: 480px;
  left: 160px;
}