smb-nose {
  transition: 2s;
  width: 75px;
  height: 75px;
  position: absolute;
  background: yellow;
  border-radius: 50%;
  top: 333px;
  left: 280px;
}

.purple {
  background: purple;
  width: 100px;
  height: 100px;
  margin-left: -12.5px;
  margin-top: -px;
}

smb-shadow-nose {
  width: 75px;
  height: 75px;
  position: absolute;
  background: yellow;
  border-radius: 50%;
  top: 380px;
  left: 266px;
}
