@import "custom-elements/ears";
@import "custom-elements/eyes";
@import "custom-elements/mouth";
@import "custom-elements/nose";

@import "shadow-dom/ears";
@import "shadow-dom/eyes";
@import "shadow-dom/mouth";
@import "shadow-dom/nose";

body {
  width: 1295px;
  margin: 100px auto;
}

.container {
  width: 645px;
  height: 800px;
  position: relative;
  display: inline-block;
}

.custom-elements {
  background-image: url("../img/homer.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.shadow-dom {
  background-image: url("../img/bart.gif");
  background-repeat: no-repeat;
  background-size: 100% auto;
}